# Ignorar um arquivo específico
senha.txt

# Ignorar uma pasta inteira
node_modules/
.env

# Ignorar por extensão (todos os .log)
*.log

# Ignorar tudo dentro de uma pasta, mas manter a pasta
uploads/*

# Exceção — ignorar tudo exceto um arquivo específico
*.txt
!importante.txt